.homeJumbotron {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 43px;
}
.homeBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.homeImg {
  width: 100%;
  height: 223px;
  object-fit: cover;
}
.homeTitle {
  position: absolute;
  font-size: 48px;
  color: #fff;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.nomatch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nomatch h1 {
  font-weight: bold;
  font-size: 288px;
  color: #FF6060;
}

.nomatch p {
  font-size: 36px;
  color: #FF6060;
  margin-top: 50px;
}

.backhome {
  font-size: 18px;
  text-decoration-line: underline !important;
  text-align: center;
  margin-top: 20%;
  color: #FF6060;

}


@media (max-width: 900px) {
  .homeJumbotron {
    margin-bottom: 0px;
  }
  .aboutJumbotron {
    margin-bottom: 19px !important;
  }
  .homeImg {
    height: 111px;
  }
  .auboutImg {
    height: 223px !important;
  }
  .homeTitle {
    font-size: 24px;
    text-align: left;
    left: 55% !important;
  }
  .nomatch h1 {
    font-size: 96px;
  }
  .nomatch p {
    font-size: 18px;
    text-align: center;
  }
  .backhome {
    font-size: 14px;
  }
}