.layContainer {
  display: flex;
  flex-direction: column;
}
.layNav {
  margin-top: 48px;
}
.layChil {
  margin-top: 44px;
}
.layFoot {
  margin-top: 44px;
}

@media (max-width: 900px) {
  .layNav {
    padding: 0 20px;
  }
  .layChil {
    padding: 0 20px;
  }
}